/*Nav Bar CSS*/
.brand-logo {
	width: 60px;
	height: 40px;
}
.navbar-brand {
	padding: 5px 5px;
}

.navbar{
	background-color: rgb(244, 245, 238);
}
.body{
	padding-top: 60px; 
	background-color: rgb(244, 245, 238);
}
@media screen and (max-width 768px){
	body{padding-top: 0px;}
}

.padding1 {
	padding-top: 60px;
}


/*HomePage*/
.box-height{
	height: 80px;	
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 400px;
	height: 200px;
	margin: auto;}
}

/*Product Page*/


.title-padding{
	padding-left: 50px;
}
.prod-size{
	width: 120px;
	height: 120px;
}

.med-pad{
	padding-left: 126px;
}

.background-image {
  background-image: url('/static/img/background/bubbles.png');
  background-size: 100% 100%;
  display: block;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}
 .z-ind{
 	position: relative;
 	z-index: 999;
 }
