.brand-logo {
	width: 60px;
	height: 40px;
}
.navbar-brand {
	padding: 5px 5px;
}

.body{
	padding-top: 60px; 
}
@media screen and (max-width 768px){
	body{padding-top: 0px;}
}

.padding1 {
	padding-top: 60px;
}

.box-height{
	height: 80px;	
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 500px;
	height: 400px;
	margin: auto;}
}